# Ambientes Virtuais e Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Variáveis de Ambiente & Chaves Sensíveis
.env
*.session
*.session-journal
my_session.session
credentials.json
token.json
rclone.conf

# Arquivos Temporários de Renderização e Frames
temp_frames/
output_reels_demo/
*.tmp
*.log


# PDFs Gigantes de Amostra (Manter código e scripts leves)
*.mp4
*.mkv
*.wav
temp_legendas/

# Credenciais e Tokens Sensíveis em qualquer pasta config
**/config/*_credentials.json
**/config/client_secret.json
**/config/token_youtube.json
**/config/cookies.txt
**/config/kaggle.json
**/config/instagram_credentials.json
**/config/tiktok_credentials.json
**/config/whatsapp_credentials.json
*.session
*.session-journal

